@import "tailwindcss";

.menu-item:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  transform: scale(1.05);
  transition: all 0.2s;
}

.selected {
  box-shadow: 0 0 10px 0 rgba(0, 123, 255, 0.5);
}

